# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
requests
selenium
jupyter
matplotlib
scipy
numpy
openpyxl
statsmodels
pypdf2
