blas
ca-certificates
gettext
intel-openmp
jpeg
libcxx
libgfortran
libiconv
libsodium
llvm-openmp
pandoc
xz
zlib
expat
icu
libffi
libpng
lz4-c
mkl
ncurses
openssl
pcre
tk
zeromq
freetype
glib
libedit
readline
zstd
dbus
libtiff
sqlite
lcms2
python=3.7
qt
appnope
attrs
backcall
certifi
chardet
click
decorator
defusedxml
entrypoints
idna
ipython_genutils
kiwisolver
markupsafe
mistune
olefile
pandocfilters
parso
pickleshare
prometheus_client
ptyprocess
pycparser
pyparsing
pysocks
pytz
pyzmq
qtpy
regex
send2trash
sip
six
soupsieve
testpath
threadpoolctl
tornado
tqdm
wcwidth
webencodings
wheel
zipp
beautifulsoup4
cffi
cycler
importlib-metadata
jedi
mkl-service
packaging
pexpect
pillow
pyqt
pyrsistent
python-dateutil
setuptools
terminado
traitlets
argon2-cffi
bleach
brotlipy
bs4
cryptography
importlib_metadata
jinja2
joblib
jupyter_core
numpy-base
pip
pygments
jsonschema
jupyter_client
nltk
prompt-toolkit
pyopenssl
ipython
nbformat
prompt_toolkit
urllib3
ipykernel
nbconvert
requests
jupyter_console
notebook
qtconsole
widgetsnbextension
ipywidgets
jupyter
matplotlib
matplotlib-base
mkl_fft
mkl_random
numpy
pandas
scipy
patsy
scikit-learn
seaborn
statsmodels
graph-tool
spacy
