# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
beautifulsoup4
graph-tool
ipython
jupyter
markupsafe
matplotlib
networkx
nltk
notebook
numpy
pandas
python
scikit-learn
scipy
seaborn
selenium
spacy
statsmodels
